.mainDiv {
    background-color: #253928;
    height: 86vh;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.layout{
    border: 1px solid red;
    height: 60px;
    width: 400px;    
}