.result {
  border-top: 1px solid black;
  padding-top: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.image {
  position: relative;
  width:30%;
  height:100%;
}

.response {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;
  font: inherit;
}

.output button {
  font: inherit;
  cursor: pointer;
  color:  #1a2920;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5% 1.5%;
  border-radius: 4%;
}

.output button:hover,
.output button:active {
  background-color: #ffe2ed;
}

