.mainDiv {
  background-color: #5D8B63;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 20%;
  width: 80%;
  margin: 5px;
}

.list img {
  height: 100%;
  width: 100%;
  object-fit:fill;
}

.selectionOne {
  border: 1px solid black;
  width: 25%;
  height: 90%;
}

.selectionTwo {
  border: 1px solid black;
  width: 25%;
  height: 90%;
}

.selectionThree {
  border: 1px solid black;
  width: 25%;
  height: 90%;
}
.titleDiv {
  width: 80%;
}




