.mainDiv {
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    width: 100%;
    font-size: 0.75rem;
}
 
.title h1 {
    margin-top: 1px;
    width: 80%;
    border: solid 4px #547258;
    border-radius: 4px;
    
}
.title img {
    height: 40vh;
    width: 40%;
}
 
.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    width: 100%;
    height: 50vh;
}
 
 
.options {
    display: flex;
    justify-content: space-evenly;
}
 
.card {
    justify-content: space-between;
    height: 100%;
    width: 30%;
}
.image {
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  
  .image img {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    text-align: center;
    padding: 1rem;
  }
  
  .content h3 {
    font-size: 1rem;
    color: #2c292b;
  }
  
  .actions {
    margin-bottom: 10px;
    padding: 0.5rem;
    text-align: center;
    font: inherit;
    cursor: pointer;
    color:  #1a2920;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.25rem 0.25rem;
    border-radius: 4px;
  }
  
  .actions :hover,
  .actions :active {
    background-color: #ffe2ed;
  }
 
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    width: 100%;
  }
 
  .about h2 {
    margin-top: 1px;
    width: 85%;
    border: solid 4px #547258;
    border-radius: 4px;   
}