@media (max-width: 849px) {
  .phoneMain {
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: 90%;
    font-size: 0.8em;
    text-align: center;
  }

  .title h1 {
    margin-top: 1px;
    width: 100%;
  }

  .options {
    display: flex;
    flex-direction: column;
    margin-bottom: .75em;
    align-items: center;
    justify-content: space-evenly;
  }

  .card {
    justify-content: space-between;
    height: 50%;
    width: 80%;
    margin-bottom: 2em;
  }

  .image {
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .image img {
    width: 100%;
    object-fit: cover;
  }

  .content {
    text-align: center;
    font-size: 1em;
    padding: 1em;
  }

  .actions {
    margin-bottom: 10px;
    padding: 0.5rem;
    text-align: center;
    font: inherit;
    cursor: pointer;
    color: #1a2920;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.25rem 0.25rem;
    border-radius: 4px;
  }

  .content p {
    font-size: 1.5em;
    font-weight: 600;
  }
  .actions a {
    font-size: 1.75em;
    font-weight: 500;
  }

  .actions :hover,
  .actions :active {
    background-color: #ffe2ed;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .aboutTitle {
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  .aboutDesc {
    font-size: 0.8em;
    text-align: center;
    justify-content: space-evenly;

  }

  .posterImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    width: 70%;
    margin-bottom: 1.5em;
  }

  .posterImage h2 {
    font-size: 1em;
  }

  .posterImage img {
    width: 100%;
    height: 100%;
  }
}


@media (min-width: 850px) {
  .webpageMain {
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
    width: 100%;
    font-size: 1.1em;
    text-align: center;
  }

  .title h1 {
    margin-top: 1px;
    width: 55%;

  }

  .options {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5em;
  }

  .card {
    justify-content: space-between;
    height: 100%;
    width: 30%;
  }

  .image {
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .image img {
    width: 100%;
    object-fit: cover;
  }

  .content {
    text-align: center;
    font-size: 1em;
    padding: 1em;
  }

  .actions {
    margin-bottom: 10px;
    padding: 0.5rem;
    text-align: center;
    font: inherit;
    cursor: pointer;
    color: #1a2920;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.25rem 0.25rem;
    border-radius: 4px;
  }

  .content p {
    font-size: 1.5em;
    font-weight: 600;
  }


  .actions a {
    font-size: 1.75em;
    font-weight: 500;
  }

  .actions :hover,
  .actions :active {
    background-color: #ffe2ed;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    width: 100%;
  }

  .aboutTitle {
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  .aboutDesc {
    font-size: 1.2em;
    text-align: center;
    justify-content: space-evenly;

  }

  .posterImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    width: 70%;
    height: 600px;
    margin-bottom: 1.5em;
  }

  .posterImage h2 {
    font-size: 1.5em;
  }

  .posterImage img {
    width: 100%;
    height: 100%;
  }

}