.HomepageFooter {
    background-color: #547258;
    height: 1.75em;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    align-items: center;
    color: white;
  }
  .RecipeDiv {
    text-align: center;
    border: 1px solid white;
    background-color: transparent;
    height: 1.2em;
    border-radius:50%;
    width: 1.2em;
    }